@model _1021022_XYZShopping.Models.ShoppingCartModel

@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>

    <meta name="viewport" content="width=device-width" />

    <title>Index</title>

</head>

<body>

    <div style="margin:0 auto; text-align: center; width:400px;background-color:dimgrey">

        @using (Html.BeginForm())

        {

            <div>

                @Html.LabelFor(m => m.Email_Id)

                @Html.TextBoxFor(m => m.Email_Id)<br />

                @Html.LabelFor(m => m.password)

                @Html.PasswordFor(m => m.password)<br />



                <input type="submit" value="Submit" />


                @ViewBag.Message
            </div>

        }

        @Html.ActionLink("Menu", "Menu")
    </div>
</body>
</html>