
@{
    ViewBag.Title = "Menu";
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>

    <meta name="viewport" content="width=device-width" />

    <title>Index</title>

</head>

<body class="myBanner">
    @Html.ActionLink("Login", "Login")<br />
    @Html.ActionLink("MyProfile", "MyProfile")<br />
    @Html.ActionLink("Products", "Products")<br />
    @Html.ActionLink("OrderDetails", "OrderDetails")<br />
    @Html.ActionLink("Feedback", "Feedback")<br />
</body>

</html>


